* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #a8d6d3;
}

.container {
  width: 330px;
  height: 140px;
  background-color: #c3e3e0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.music-img-box {
  height: 120px;
  width: 120px;
  background-color: white;
  position: absolute;
  top: -20px;
  left: 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}

.center-dot {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.music-detail {
  height: 70px;
  width: 185px;
  position: absolute;
  right: 0;
  padding: 10px 10px;
}

.artist-name {
  color: #45a69b;
  font-size: 0.7em;
}

.music-name {
  color: #45a69b;
  font-size: 0.5em;
}

.progress-area {
  height: 5px;
  width: 160px;
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
}

.progress-bar {
  height: 5px;
  width: 50%;
  background-color: #45a69b;
  border-radius: 5px;
  cursor: pointer;
}

.time {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

span {
  color: #45a69b;
  font-size: 0.5em;
}

.button-area {
  height: 50px;
  width: 330px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding-left: 165px;
}

button {
  color: #45a69b;
  background-color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}

.play-btn {
    color: white;
    background-color: #a8d6d3;
}